html, body {
    padding: 0;
    margin: 0; height: 100%;
    width: 100%;
    background-color: #333;
    color: #FFF;
}
.text {
    color: #FFF;
}
.box {
    height: 500px;
    padding-top: 100px;
    #margin-bottom: -100px;
    text-align: center;
}
.img {
    width: 720px;
    height: 480px;
}
.title {
    text-align: center;
    font-size: 80px;
}

.large-5.day-box {
    margin-left: 3%;
    width: 80px;
    height: 75%;
    margin-top: 2%;
    font-size: 20px;
    border: 2px solid red;
}

/* Content here and below */
.border {
    width: 100%;
    height: 20%;
    background-color: #111;
    color: red;
    margin-bottom: 20px;
}
.player-box, .game-box, .option-box {
    border: 1px solid #AAA;
    padding: 1rem;
    font-size: 22px;
}
.game-box {
    min-height: 520px;
    max-height: 520px;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    color: #777;
    padding: 0;
    z-index: 0;
    margin-left: 2px;
}
.option-box {
    padding: 0;
    border: 0;
    min-height: 300px;
    margin-top: 4px;
}
.player-box {
    padding: 0;
    border: 0;
    margin: 0;
    min-height: 500px;
    height: 100%;
    margin-right: 2px;
}
.tabs {
    background-color: #333;
    border: 1px solid #AAA;
    margin: 0;
}
.tabs-panel, .tabs-content {
    background-color: #333;
    border: 1px solid #AAA;
    color: #FFF;
    margin: 0;
}
.tabs-content {
    border: 0;
    font-size: 14px;
    margin-top: 4px;
}
.tabs-title {
    background-color: #333;
    margin: 0;
}
.tabs-title > a:focus,
.tabs-title > a[aria-selected='true'],
.tabs-title > a,
.tabs-title > a:active,
.tabs-title > a:hover {
    background-color: #333;
    color: #FFF;
    font-size: 22px;
}
.tabs.primary, .tabs.primary > li > a, .tabs.primary > li > a:hover, .tabs.primary > li > a:focus {
    background-color: #333;
}
button {
    background-color: #AAA;
    padding: 10px;
    cursor: pointer;
    margin-right: 4px;
    max-width: 92px;
    min-width: 92px;
    max-height: 92px;
    min-height: 92px;
}
